<%- include('./partials/head.ejs') %>

<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">AddUser</a>
    </li>
  </ul>

<h1>Search Users</h1>

<%- include('./partials/footer.ejs') %>